{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": [
          "./Client"
        ],
        "alias": {
          "components": "./Client/components",
          "templates": "./Client/components/templates",
          "organisms": "./Client/components/organisms",
          "molecules": "./Client/components/molecules",
          "pages": "./Client/components/pages"
        }
      }
    ]
  ]
}