@section styles {
  <link rel="stylesheet" href="~/styles.css" asp-append-version="true"></link>
}

<div id="mount-point" asp-prerender-module="Client/dist/main-server">Loading...</div>

@section scripts {
  <script src="~/main-client.js" asp-append-version="true"></script>
}