@section styles {
  
}

<div id="mount-point" asp-prerender-module="Client/dist/main-server">Loading...</div>
<div id="dev-tools"></div>

@section scripts {
  <script src="~/main-client.js" asp-append-version="true"></script>
}